<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field"
     visible="visible"
     css="$data.additionalClasses"
     attr="'data-index': index">
    <div class="admin__field-label" visible="$data.labelVisible">
        <label if="$data.label" attr="for: uid">
            <span translate="label" attr="'data-config-scope': $data.scopeLabel"></span>
        </label>
    </div>
    <div class="admin__field-control"
         css="'_with-tooltip': $data.tooltip, '_with-reset': $data.showFallbackReset && $data.isDifferedFromDefault">
        <div id="iframe_container" class="pos-relative">
            <iframe data-bind="attr: {
                                src: iframe.url(),
                                width: iframe.width,
                                height: iframe.height 
                               },
                               afterRender: setIframeScope"
                    frameborder="0"
                    id="onboarding"
                    css="'reproducing': status.is_reproducing()">
            </iframe>
            <div class="create-action d-flex align-items-center justify-content-center">
                <button class="plus-icon" data-bind="click: startOnboardingCreation">
                    <span class="lpad-5" data-bind="i18n: 'Edit onboarding'"></span>
                </button>
            </div>
            <div class="editing-action onboarding-menu pad-10">
                <button css="'inspect-icon-after active': status.is_inspecting(),
                             'inspect-icon-after': !status.is_inspecting()"
                        data-bind="click: toggleInspecting,
                                   i18n: button.inspect.label,
                                   enable: button.inspect.enable,
                                   visible: button.inspect.visible">
                </button>
                <button css="'x-mark-icon-after': status.is_reproducing(), 'play-icon-after' : !status.is_reproducing()"
                        data-bind="click: toggleReproduceOnboarding,
                                   i18n: button.reproduce.label,
                                   enable: button.reproduce.enable,
                                   visible: button.reproduce.visible">
                </button>
                <button class="save primary lmarg-10 x-mark-icon"
                        data-bind="click: closeOnboardingCreation,
                                   enable: button.close.enable,
                                   visible: button.close.visible">
                </button>
            </div>
            <div class="list-container" data-bind="visible: !status.is_reproducing()">
                <div class="steps-list onboarding-menu bmarg-10">
                    <div class="header-list d-flex justify-content-between pad-10 bold">
                        <div>
                            <span data-bind="i18n: 'Steps'"></span>
                        </div>
                        <div>
                            <span class="rpad-10" data-bind="text: onboarding.steps().length"></span>
                        </div>
                    </div>
                    <div class="content-list pointer">
                        <!-- ko if: onboarding.steps().length > 0 -->
                        <!-- ko foreach: onboarding.steps() -->
                        <div class="item d-flex justify-content-between pad-10"
                             data-bind="afterRender: linkItemElement">
                            <span class="box-clamp-1" data-bind="text: title"></span>
                            <span class="rpad-10" data-bind="text: $index() + 1"></span>
                        </div>
                        <!-- /ko -->
                        <!--/ko-->
                        <div class="item d-flex justify-content-between pad-10"
                             data-bind="click: function() { callModal() }">
                            <div class="rpad-10">
                                <span class="box-clamp-1" data-bind="i18n: 'Add new step'"></span>
                            </div>
                            <div class="bold">
                                <span class="fs-12 plus-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hints-list onboarding-menu" data-bind="visible:false">
                    <div class="header-list d-flex justify-content-between pad-10 bold">
                        <div>
                            <span data-bind="i18n: 'Hints'"></span>
                        </div>
                        <div>
                            <span class="rpad-10" data-bind="text: 0"></span>
                        </div>
                    </div>
                    <div class="content-list pointer">
                        <!-- each -->
                        <!--  -->
                    </div>
                </div>
            </div>
            <div id="modal" data-bind="afterRender: initModal">
                <div class="tpad-10 bpad-20 input-fit">
                    <div class="vpad-5">
                        <label class="fs-18" for="creation_type" data-bind="i18n: 'Type'"></label>
                    </div>
                    <div>
                        <select class="admin__control-select" name="creation_type" id="creation_type"
                                data-bind=" options: getCreationModeOptions(),
                                            optionsText: 'value',
                                            optionsCaption: '',
                                            optionsValue: 'value',
                                            value: creation_mode">
                    </div>
                    </select>
                </div>
                <div class="tpad-10">
                    <div class="vpad-5">
                        <label class="fs-18" for="title">Title</label>
                    </div>
                    <div>
                        <input class="admin__control-text w-100" type="text" name="title" id="title">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin__field-config">
    <div class="bmarg-10 pad-10 onboarding-menu">
        <div class="d-flex justify-content-between">
            <div class="fs-18" data-bind="i18n: 'Created Steps'"></div>
            <div class="fs-18" data-bind="text: onboarding.steps().length"></div>
        </div>
    </div>
    <div class="pad-10 onboarding-menu" data-bind="visible: false">
        <div>
            <div class="fs-18">Created Hints:</div>
        </div>
    </div>
</div>

<div class="admin__field _required" data-bind="visible: false" data-index="name">
    <div class="admin__field-control">
        <input class="admin__control-text" type="hidden" autocomplete="off"
               data-bind="
        value: value,
        attr: {
            name: inputName,
        },
        afterRender: registerOnboardingField">
    </div>
</div>